@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Lato:ital@1&family=Montserrat:wght@600&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 3;
    }
}
body{
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;

    --c1:#fff;
    --c2: #509ABF;
    --c3 : #FAA31A;
    --font: 'Josefin Sans', sans-serif;
    transition: 0.5s;
    animation: fadeIn 0.9s linear;
    font-family: var(--font);
    overflow-x:hidden;
}

div{
    overflow: hidden;
}
.nav{
    width: 100%;
    display: flex;
    height: 150px;
    background-color: var(--c1);
    justify-content: space-between;
}
.nav-logo{
    height: min-content;
    width: 50%;
}
.nav-links{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-links a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--font);
    color: var(--c3);
    animation-duration: 2s;

    transition: 0.3s linear;

}
.nav-links a:hover{
    text-decoration: underline;
    transform:rotate3d(5px);
}

.nav-logo img{
    height: 140px;
}


/* nav contact */

.nav-contact{
    background-color: var(--c2);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nav-end{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav-end a{
    text-decoration: none;
    color: var(--c1);

}
.social{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}
.social img{
    width: 35px;
}

/* landing page */

.landingpage,.about{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.landingpage .content{
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 50%;
    
    justify-content: space-evenly;
}
.content p{
    font-size: 40px;
    color: var(--c2);
    font-weight: bold;
    text-align: left;
}
.content a{
    background-color: var(--c3);
    padding: 20px;
    border-radius: 25px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    color: var(--c1);
}
.landingpage img{
    width: 35%;
}

/* DASH */

.dash{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dash div{
    padding: 10px;

    width: 33%;
    height: auto;
    color: var(--c1);
    font: var(--font);
    font-weight: bolder;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.d1,.d3{
    background-color: var(--c2);
}
.d2{
    background-color: var(--c3);
}

/* about */


.about img{
    width: 40%;
}

.about-content{
    display: flex;
    align-items: center;
}
.about-content p{
    color: var(--c2);
    font-family: var(--font);
    font-size: 18px;
    text-transform: capitalize;
    text-align: left;
}

/* free to reach us */

.ftra{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    background-color: var(--c2);
    border-radius: 50px;
    height: 80px;
}
.sec p{
    color: var(--c1);
    font-family: var(--font);
    font-size: 40px;
    text-align: center;

}
.sec a{
    background-color: var(--c3);
    padding: 20px;
    border-radius: 25px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    color: var(--c1);
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bold;
}

.social img {
    width: 30px;
    margin: 10px;
    transition: 0.3s linear;
}

.social img:hover{
    transform: scale(1.5);
}
/* mobile */
@media (max-width : 800px) {
    
    .nav{
        flex-direction: column;
        width: 100%;
    }
    .nav-links{
        width: 100%;
    }
    .nav-contact{
        /* width: max-content; */
        margin-top: 20px;
    }
    .social{
        width: 100%;
    }
    .nav-end{
        display: none;
    }
    .nav-logo{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .nav-logo img{
        width: 25%;
    }
    
    .landingpage img{
        width: 40%;
    }
    .landingpage div p{
        font-size: 18px;
    }
    .landingpage div a{
        width: 100px;

    }
    /* dash */
    .dash{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dash div{
        width: 95%;
    }
    .dash div p{
        font-size: 22px;
        font-family: var(--font);
    }

    /* about */

    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about img{
        width: 90%;
    }
    .about-content{
        width: 90%;
        margin-top: 0px;
    }

    /* free to reach us */

    .ftra div{
        border-radius: 0;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .sec p{
        font-size: x-large;
    }
    .sec a{
        width: 150px;

    }
} 